*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#formbody{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    height: 40vh;
    width: 30vw;
    border-radius: 50px;
    box-shadow: 0px 0px 20px #abff2e;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form h3{
    font-family: "Orbitron", sans-serif;
    font-size: 2.5vw;
    color: rgb(102, 102, 102);
    font-weight: 500;
    margin-top: 0vh;
}
#user_body{
    width: 100%;
    padding: 0 3vw;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5vw;
    color: rgb(102, 102, 102);
    display: flex;
    margin-top: 5vh;
    align-items: center;
    justify-content: space-between;
}
#user_body input{
    font-family: "Orbitron", sans-serif;
    border: none;
    background-color: #abff2e;
    border-radius: 50px;
    padding-left: 15px;
    height: 30px;
    width: 14vw;
}
#user_body ::placeholder{
    font-family: "Orbitron", sans-serif;
    color: black;
}
#pass_body{
    width: 100%;
    padding: 1vh 3vw;
    color: rgb(102, 102, 102);
    font-family: "Orbitron", sans-serif;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#pass_body input{
    border: none;
    font-family: "Orbitron", sans-serif;
    background-color: #abff2e;
    border-radius: 50px;
    padding-left: 15px;
    height: 30px;
    width: 14vw;
}
#pass_body ::placeholder{
    font-family: "Orbitron", sans-serif;
    color: black;
}
#submit{
    border: none;
    background-color: #abff2e;
    margin-top: 3vh;
    font-family: "Orbitron", sans-serif;
    color: black;
    padding: 1vh 2vw;
}
#submit:hover{
    cursor: pointer;
}
.form p{
    margin-top: 15px;
    color: rgb(102, 102, 102);
    font-family: "Orbitron", sans-serif;
}
#span_text a{
    text-decoration: none;
    color: #abff2e;
}
#note{
    font-family: "Orbitron", sans-serif;
    color: rgb(102, 102, 102);
    margin-top: 20px;
    display: flex;
    text-align: center;
}

@media (max-width: 800px){
    form{
        height: 40vh;
        width: 90vw;
    }
    form h3{
        font-size: 30px;
    }
    #user_body{
        font-size: 20px;
        padding: 0 5vw;
    }
    #user_body input{
        width: 45vw;
    }
    #pass_body{
        font-size: 20px;
        padding: 1vh 5vw;
    }
    #pass_body input{
        width: 45vw;
    }
    .form p{
        font-size: 15px;
    }
}
